.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
  background-color:transparent;
  border-color:transparent;
  text-shadow:none;
}

.callout-img {
  left:16%;
  position:relative;
}

.count {
  /*display:none;*/
  background:#ff0000;
  position: absolute; 
  top: 5px;
  right: 72%;
  min-width:10px;
  height: 10px;
  color:#ffffff;
  border-radius: 50%;
  padding: 2px;
  text-align: center;
  font-size: 8px;
  z-index:444;
}

#call {
  float:right;
  margin-top:14px;
  margin-right:6px;
  color:#228B22;
  cursor:pointer;
}

#invite_msg{
  font-weight:400;
}

@font-face {
  font-family: 'Lato';
  src: url('http://fonts.googleapis.com/css?family=Lato:300,400,700,900;');
}

input.login {
  font-family: 'Lato';
}

#create_event div.ui-btn.ui-input-btn.ui-corner-all.ui-shadow {
  font-family:'Lato';
  font-size:16px;
  color:white;
  background-color: #c03d3e;/*
  background-color:#0f4a6f*/;
  text-shadow:none;
  margin-top:10px;
  border:none;
}

#create_event div.ui-btn.ui-input-btn.ui-corner-all.ui-shadow:active {
  background-color:#ac3637;
}

div.ui-btn.ui-input-btn.ui-corner-all.ui-shadow {
  font-family:HelveticaNeue, 'Lato';
  font-size:16px;
  color:white;
  background-color: #c03d3e;/*
  background-color:#0f4a6f*/;
  text-shadow:none;
  margin-top:10px;
  border:none;
}

div.ui-btn.ui-input-btn.ui-corner-all.ui-shadow:active {
  background-color:#ac3637;
}

div.ui-header.ui-bar-inherit {
  background-color:#0b0b0b;
  color:#F8F8FF;
  text-shadow:none;
  font-size:17px;
  font-family:'Lato';
  font-weight:700;
}

div.friend-status {
  color:#696969;
  margin-top:3px;
  font-weight:lighter;
  font-size:13px;
  margin-left:-20px;
}

a.friend-name { 
  color:black;
  text-decoration:none;
  margin-left:-20px;
}

img {
  vertical-align: middle;
  padding-top: 3px;
  padding-left: 5px;
}

li.ui-li-static.ui-body-inherit.ui-li-has-thumb {
  min-height:2.8em;
  padding-bottom:16px;
}

.ui-listview>.ui-li-static {
  padding:.2em 1em;
}

.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited {
  color:black;
  font-size:18px;
}

a.ui-link.ui-btn-left.ui-btn.ui-shadow.ui-corner-all {
  background-color:transparent;
  color:#F0F8FF;
  text-shadow:none;
  border:none;
  font-weight:lighter;
  box-shadow:none;
  font-size:14px;
  font-family:'Lato';
}

a.ui-icon-edit.ui-btn-icon-left.ui-link.ui-btn {
  background-color:#0b0b0b;
  border-color:white;
  color:#F8F8FF;
  text-shadow:0 1px 0 black;
  height:20px;
  font-size:15px;
  line-height:1.2;
  font-family:'Lato';
}

div.ui-content {
  font-family:'Lato';
}

a.ui-icon-user.ui-btn-icon-left.ui-link.ui-btn {
  background-color:#0b0b0b;
  border-color:white;
  color:white;
  text-shadow:0 1px 0 black;
  height:20px;
  font-size:15px;
  line-height:1.2;
}

div#main_map {
  height:100%;
}

#tools{
  margin-left:-2px;
}

a.ui-icon-plus.ui-btn-icon-left.ui-link.ui-btn {
  background-color:#0b0b0b;
  border-color:white;
  color:white;
  text-shadow:0 1px 0 black;
  height:20px;
  font-size:15px;
  line-height:1.2;
}


.login {
  color:#eee;
  text-shadow:none;
  text-decoration:none;
  margin-top:4px;
  float:right;
}

a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
  color: #333333;
}

#create_event {
  background-image: url(images/login.png);
  background-size: 100% 100%;
  font-family:'Lato', sans-serif;
}

#login_status {
  color:#eee;
  text-shadow:none;
  font-size:40px;
  text-align:center;
  margin-top:30px;
  margin-bottom:12px;
  font-weight:300;
}

input#phone {
  background:black;
  border:1px solid #707072;
  color:#ccc;
  text-align:center;
  padding:0;
  text-shadow:none;
  min-height:2.3em;
  height:1.5em;
  font-weight:300;
}


input#username {
  background:black;
  border:1px solid #707072;
  color:#ccc;
  text-align:center;
  padding:0;
  text-shadow:none;
  min-height:2.3em;
  height:1.5em;
  font-weight:300;
}


input#password {
  background:black;
  color:#ccc;
  border:1px solid #707072;
  padding:0;
  text-shadow:none;
  text-align:center;
  min-height:1.8em;
}

::-webkit-input-placeholder { 
  color:#707072; 
  font-family:'Lato', sans-serif;

::-moz-placeholder { 
  color:#707072; 
  font-family:'Lato', sans-serif;
} 
:-ms-input-placeholder {  
  color:#707072;   
  font-family:'Lato', sans-serif;
}
input:-moz-placeholder {
  color:#707072;  
  font-family:'Lato', sans-serif;
}

